<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EVA - eet plantaardig!</title>
	<link rel="shortcut icon" type="image/x-icon" href="styles/favicon.ico">

	<link rel="stylesheet" type="text/css" href="styles/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/public/js/lib/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="styles/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body class="container" ng-app="evaApp" ng-controller="MainCtrl">
<header>

</header>

<main>
	
</main>


<footer>
	<p class="text-center text-muted">© Copyright 2015 - Groep 6</p>
</footer>
</body>

<script type="text/javascript" src="styles/angular/angular.min.js"></script>
<script type="text/javascript" src="styles/public/js/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="javascript/app.js"></script>
<script type="text/javascript" src="styles/bootstrap/js/bootstrap.min.js"></script>
</html>
